<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutosandroidfrance.mapssample" >

    <!-- activer l'accélération materielle -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- on créé une permission pour maps -->
    <permission
        android:name=".permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- puis on l'utilise -->
    <uses-permission android:name=".permission.MAPS_RECEIVE" />

    <!-- accéder à internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- activer le cache de la Google Map -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- accéder à la position de l'utilisateur -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- important, mettre ici la clé d'accès aux google API -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />

    </application>

</manifest>
